kind: Service
apiVersion: v1
metadata:
  name: egrocer-order
  labels:
    name: egrocer-order
spec:
  type: LoadBalancer
  ports:
    - port: 83
      targetPort: 8083
      protocol: TCP
  selector:           
    app: egrocer-order      

---
apiVersion: apps/v1 
kind: Deployment    
metadata:              
  name: egrocer-order
spec:                
  selector:         
    matchLabels:
      app: egrocer-order
  replicas: 3        
  template:
    metadata:
      labels:        
        app: egrocer-order
    spec:
      containers:
        - name: egrocer-order
          image: linjudock19/egrocer-order
          ports:
            - containerPort: 8083                
          env:   # Setting Enviornmental Variables
          - name: DB_HOST   # Setting Database host address from configMap
            valueFrom: 
              configMapKeyRef:
                name: db-conf  # name of configMap
                key: host
          - name: DB_NAME  # Setting Database name from configMap
            valueFrom:
              configMapKeyRef:
                name: db-conf 
                key: name
          - name: DB_USERNAME  # Setting Database username from Secret
            valueFrom:
              secretKeyRef:
                name: db-credentials # Secret Name
                key: username
          - name: DB_PASSWORD # Setting Database password from Secret
            valueFrom:
              secretKeyRef:
                name: db-credentials
                key: password     
        